# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore node_modules for frontend
node_modules/

# Ignore build files
build/
dist/
# Ignore Python virtual environment
venv/